@font-face {
    font-family: myFont;
    src: url('./FreeMono.ttf');
}

* {
    font-family: myFont;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #654ea3, #eaafc8);
    min-height: 100vh;
    text-align: center;
}

header {
    font-size: xx-large;
    color: whitesmoke;
    border: 3px solid whitesmoke;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    margin-top: 200px;
    font-weight: bold;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    margin-top: 30px;
    border: none;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: whitesmoke;
    color: #654ea3;
    outline: none;
}

form button {
    border-left: 1px solid rgb(216, 216, 216);
}

input {
    font-weight: 600;
}

input::placeholder {
    opacity: 0.5;
}

button {
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    background-color: #8d7ac2;
    color: whitesmoke;
}

button:active {
    background-color: #a494d3;
}

#container-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.todo-div {
    /* .todo-div is a div inside of ul. */
    color: #654ea3;
    font-weight: bold;
    list-style-type: none; 
}

.todo-div button {
    color: #654ea3;
    float: right;
    width: 25px;
    padding: 6px;
    border: none;
    background-color: whitesmoke;
    border-left: 1px solid rgb(216, 216, 216);
}

.todo-div button:hover {
    background-color: rgb(223, 222, 222);
}

.todo-div button:active {
    background-color: whitesmoke;
}

.todo-div .checked-button {
    margin-left: 15px;
}

.todo-li {
    /* list item */
    display: inline-block;
    background-color: whitesmoke;
    min-width: 250px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    line-height: 25px;
    padding-left: 15px;
    margin-bottom: 10px;
    transition: all 0.4s ease;
}

.fa-times, .fa-check {
    pointer-events: none;
}

.checked {
    text-decoration: line-through;
    opacity: 0.7;
}

.fall {
    transform: translate(8rem) rotate(20deg);
    opacity: 0;
}