@font-face {
    font-family: myFont;
    src: url('./FreeMono.ttf');
}

* {
    font-family: myFont;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #654ea3, #eaafc8);
    min-height: 100vh;
    text-align: center;
}

header {
    font-size: xx-large;
    color: whitesmoke;
    border: 3px solid whitesmoke;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    margin-top: 50px;
    font-weight: bold;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    margin-top: 30px;
    border: none;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: whitesmoke;
    color: #654ea3;
    outline: none;
}

form button {
    border-left: 1px solid rgb(216, 216, 216);
}

input {
    font-weight: 600;
}

input::placeholder {
    opacity: 0.5;
}

button {
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    background-color: #8d7ac2;
    color: whitesmoke;
    border: none;
}

button:active {
    background-color: #a494d3;
}

#container-list {
    min-width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-div {
    color: #654ea3;
    margin: 20px;
    font-weight: bold;
    list-style-type: none;
}

.todo-div button {
    color: #654ea3;
    width: 25px;
    float: right;
    padding: 6px;
    border: none;
    background-color: whitesmoke;
    border-left: 1px solid rgb(216, 216, 216);
}

.todo-div .remove-li {
    border-top-right-radius: 10px;
}

.todo-div button:hover {
    background-color: #8d7ac2;
    color: whitesmoke;
    border: none;
}

.todo-div button:active {
    background-color: #a494d3;
}

.todo-li {
    display: inline-block;
    background-color: whitesmoke;
    width: 250px;
    padding: 5px;
    border-bottom-left-radius: 10px;
}